<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
</head>
<body>
    <h1>Movie Search</h1>

    <h2>Title: <%= titleVar %></h2>
    <h2>Year: <%= yearVar %></h2>
    <h2>Genre: <%= genreVar %></h2>
    <h2>Duration: <%= durationVar %></h2>
    <h2>Cast: <%= castVar %></h2>
    <img src="<%= posterVar %>" alt="Movie poster">
    <h2>Synopsis: <%= plotVar %></h2>
</body>
</html>